<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
	<!--logfile location-->
	<substitutionProperty name="LOG_BASE" value="/home/ap/credit_yunnan" />
	<substitutionProperty name="PROJECT_NAME" value="creditLog" />
	<substitutionProperty name="LOG_HOME" value="${LOG_BASE}/${PROJECT_NAME}" />

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern> 
       			 %d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} %L - %msg%n
     	 	</pattern> 
     	 	<immediateFlush>true</immediateFlush>
   	 	</encoder> 
    </appender> 
    
    <!-- debug -->
	<appender name="debugRolling"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">   
            <level>DEBUG</level>   
        </filter>  

		<file>${LOG_HOME}/debug.log</file>
		
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${LOG_HOME}/debug.log.%d{yyyy-MM-dd}.%i</fileNamePattern>
			<MaxHistory>30</MaxHistory>
			<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
        		<maxFileSize>50mb</maxFileSize>
      		</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} %L - %msg%n
			</pattern>
			<charset class="java.nio.charset.Charset">UTF-8</charset>
			<immediateFlush>true</immediateFlush>
		</encoder>
	</appender>
    
    <!-- info -->
	<appender name="infoRolling"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">   
            <level>INFO</level>   
        </filter>  

		<file>${LOG_HOME}/info.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${LOG_HOME}/info.log.%d{yyyy-MM-dd}.%i</fileNamePattern>
			<MaxHistory>30</MaxHistory>
			<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
        		<maxFileSize>50mb</maxFileSize>
      		</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} %L - %msg%n
		</pattern>
			<charset class="java.nio.charset.Charset">UTF-8</charset>
			<immediateFlush>true</immediateFlush>
		</encoder>
	</appender>

	<!-- error -->
	<appender name="errorRolling"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">   
            <level>WARN</level>   
        </filter>  
		<file>${LOG_HOME}/error.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${LOG_HOME}/error.log.%d{yyyy-MM-dd}.%i</fileNamePattern>
			<MaxHistory>30</MaxHistory>
			<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
        		<maxFileSize>50mb</maxFileSize>
      		</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} %L - %msg%n
			</pattern>
			<charset class="java.nio.charset.Charset">UTF-8</charset>
			<immediateFlush>true</immediateFlush>
		</encoder>
	</appender>
	
	<!-- filelog -->
	<logger name="file.log" level="DEBUG">
		<appender-ref ref="debugRolling" />
		<appender-ref ref="infoRolling" />
		<appender-ref ref="errorRolling" />
	</logger>

	<root level="DEBUG">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="debugRolling" />
		<appender-ref ref="infoRolling" />
		<appender-ref ref="errorRolling" />
	</root>
</configuration>

